# cache images and flash content for 7 days
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
	Header set Cache-Control "max-age=604800"   
</FilesMatch>

# cache text, css, and javascript files for one day
<FilesMatch "\.(js|css|pdf|txt)$">
	Header set Cache-Control "max-age=43200"
</FilesMatch>

# cache html and htm files for one day
<FilesMatch "\.(html|htm)$">
	Header set Cache-Control "max-age=43200"
</FilesMatch>